$purple: #AD1FEA;
$blue: #4661E6;
$dark-blue: #373F68;
$white: #FFFFFF;
$thin-blue: #F2F4FF;
$bg-blue: #F7F8FD;
$active-dark-blue: #647196;
$very-dark-blue: #3A4374;
$orange: #F49F85;
$light-blue: #62BCFA;
$header-gradient: radial-gradient(166.82% 166.82% at 103.90% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%);