$purple: #AD1FEA;
$active-purple: #C75AF6;
$blue: #4661E6;
$dark-blue: #373F68;
$white: #FFFFFF;
$active-white: #F2F4FE;
$thin-blue: #F2F4FF;
$bg-blue: #F7F8FD;
$active-dark-blue: #647196;
$active-blue: #CFD7FF;
$active-light-blue: #7C91F9;
$active-bright-blue: #4661E6;
$very-dark-blue: #3A4374;
$active-very-dark-blue: #656EA3;
$orange: #F49F85;
$active-orange: #E98888;
$light-blue: #62BCFA;
$header-gradient: radial-gradient(166.82% 166.82% at 103.90% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%);